# Sensitive Credentials
.env
.env.local
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.venv/
.conda/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.spec
